<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<div class="container mt-2">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Inscribir alumno a {{ carrera }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form id="form" (ngSubmit)="enviar()">

        <ng-select [clearable]="false" [items]="alumnos" bindLabel="nombre_completo" bindValue="id_alumno" name="idAlumno" [(ngModel)]="idAlumno">
        </ng-select>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" form="form" [disabled]="!idAlumno || showSpinner">Crear</button>
      <button mat-raised-button (click)="cerrar()">Volver </button>
    </mat-card-actions>
  </mat-card>


</div>