.A3a {
    border-style: solid;
    border-color: black; 
    border-width: 0.5px;
    padding: 5px;
}

.cuadro {
    border-style: solid;
    border-color: black; 
    border-width: 0.5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}