<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<div class="container mt-2">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Crear Usuario</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form id="form" [formGroup]="formulario" (ngSubmit)="enviar()">

        <mat-form-field>
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rol">
            <mat-option *ngFor="let rol of roles" [value]="rol.value">
              {{rol.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Apellido" formControlName="apellido">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="DNI" formControlName="documento">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Teléfono" formControlName="telefono">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Fecha de Nacimeiento" formControlName="fecha_nacimiento" type="date">
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" form="form"
        [disabled]="!formulario.valid || showSpinner">Crear</button>
      <button mat-raised-button routerLink="../">Volver </button>
    </mat-card-actions>
  </mat-card>

</div>