
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="materias">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Nro. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="carrera">
      <th mat-header-cell *matHeaderCellDef> Carrera </th>
      <td mat-cell *matCellDef="let element"> {{element.carrera}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tipo_materia">
      <th mat-header-cell *matHeaderCellDef> Tipo de Materia</th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_materia}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



