<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<h2 mat-dialog-title>Abrir mesa de final de {{ materia }}</h2>

<mat-dialog-content>
  <form id="form" [formGroup]="formulario" (ngSubmit)="enviar()">

    <ng-select [items]="profesores" [placeholder]="'Profesor'" bindLabel="nombre_completo" bindValue="id"
      formControlName="id_profesor">
    </ng-select>

    <ng-select [items]="profesores" [placeholder]="'Vocal 1'" bindLabel="nombre_completo" bindValue="id"
      formControlName="id_vocal1">
    </ng-select>

    <ng-select [items]="profesores" [placeholder]="'Vocal 2'" bindLabel="nombre_completo" bindValue="id"
      formControlName="id_vocal2">
    </ng-select>

    <mat-form-field>
      <input matInput [matDatepicker]="picker3" placeholder="Fecha de Examen" formControlName="fecha_examen">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3 disabled="false" startView="year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Inicio de Inscripción" formControlName="fecha_inicio" [min]="minDateInicio" (dateChange)="cambioFechaInicio()">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Fin de Inscripción" formControlName="fecha_limite" [min]="minDateFin">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 disabled="false"></mat-datepicker>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-raised-button color="primary" type="submit" form="form"
    [disabled]="!formulario.valid || showSpinner">Guardar</button>
  <button mat-raised-button (click)="cerrar()">Volver </button>
</mat-dialog-actions>