<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<h2 mat-dialog-title>{{ titulo }}</h2>

<!-- <mat-dialog-content> -->
  <form id="form" [formGroup]="formulario" (ngSubmit)="enviar()">
    <mat-form-field>
      <input matInput placeholder="Tipo de Materia" formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
      <input type="number" min="1" matInput placeholder="% Asistencia Requerido" formControlName="asistencia">
    </mat-form-field>

    <mat-checkbox formControlName="libre">
      Permite Inscripción Libre
    </mat-checkbox>

  </form>
<!-- </mat-dialog-content> -->

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-raised-button color="primary" type="submit" form="form"
    [disabled]="!formulario.valid || showSpinner">Guardar</button>
  <button mat-raised-button (click)="cerrar()">Volver </button>
</mat-dialog-actions>