<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<div class="table-container mat-elevation-z8">

  <mat-form-field class="filtro">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>

  <button matTooltip="Crear Carrera" class="btn-crear" mat-fab color="primary" routerLink="crear">
    <mat-icon>add</mat-icon>
  </button>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duración </th>
      <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad_materias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Materias </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.cantidad_materias == element.materias_cargadas">
          {{element.cantidad_materias}}
        </ng-container>
        <ng-container *ngIf="element.cantidad_materias != element.materias_cargadas">
          {{element.materias_cargadas}} de {{element.cantidad_materias}}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.cantidad_materias > element.materias_cargadas" class="mx-1" mat-mini-fab
          matTooltip="Crear Materia" routerLink="/materias/crear/{{ element.id }}">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="element.cantidad_materias == element.materias_cargadas" class="mx-1" mat-mini-fab color="primary"
          matTooltip="Abrir Inscripción" routerLink="abrir_inscripcion/{{ element.id }}">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="element.materias_cargadas == 0" class="mx-1" mat-mini-fab color="warn"
          matTooltip="Eliminar Carrera" (click)="eliminar(element.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>