<mat-toolbar *ngIf="mostrar_barra()" color="primary">
        <button mat-flat-button color="primary" routerLink="/inicio" routerLinkActive="mat-accent">Inicio</button>
        <button mat-flat-button color="primary" routerLink="/carreras" routerLinkActive="mat-accent">Carreras</button>
        <button mat-flat-button color="primary" routerLink="/materias" routerLinkActive="mat-accent">Materias</button>
        <button mat-flat-button color="primary" routerLink="/usuarios" routerLinkActive="mat-accent">Usuarios</button>
        <button mat-flat-button color="primary" routerLink="/inscripcion" routerLinkActive="mat-accent" [matMenuTriggerFor]="menu" >Inscripciones</button>
        <button mat-flat-button color="primary" routerLink="/alumnos" routerLinkActive="mat-accent">Alumnos</button>

        <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="inscripcion/carreras">Carreras</button>
                <button mat-menu-item routerLink="inscripcion/cursadas">Cursadas</button>
                <button mat-menu-item routerLink="inscripcion/mesas">Finales</button>
        </mat-menu>

        <span class="example-spacer"></span>
        <span>{{ rol }}</span>
        <mat-icon class="example-icon" (click)="salir()" matTooltip="Salir">exit_to_app</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
<simple-notifications [options]="notifOptions"></simple-notifications>
