<mat-toolbar *ngIf="mostrar_barra()" color="primary">
        <button mat-flat-button color="primary" routerLink="/">Inicio</button>
        <button mat-flat-button color="primary" routerLink="/carreras" routerLinkActive="mat-accent">Carreras</button>
        <button mat-flat-button color="primary" routerLink="/materias" routerLinkActive="mat-accent">Materias</button>
        <button mat-flat-button color="primary" routerLink="/usuarios" routerLinkActive="mat-accent">Usuarios</button>
        <button mat-flat-button color="primary" [matMenuTriggerFor]="menu" routerLinkActive="mat-accent">Inscripciones</button>

        <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="inscripcion/carrera">Carreras</button>
                <button mat-menu-item>Materias</button>
                <button mat-menu-item routerLink="inscripcion/lista_mesas">Finales</button>
        </mat-menu>

        <span class="example-spacer"></span>
        <mat-icon class="example-icon" (click)="salir()" matTooltip="Salir">exit_to_app</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
<simple-notifications [options]="notif_options"></simple-notifications>
