<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<ng-container *ngIf="materia">
  <h2 class="mt-3 mb-0 mx-3 nowrap">Inscriptos a mesa de final de <i> {{ materia }}
      ({{ fechaExamen | date: 'dd/MM/yyyy' }})</i></h2>
  <h3 class="mt-3 mb-0 mx-3 nowrap">{{ carrera }}</h3>

  <div class="table-container mat-elevation-z8">

    <mat-form-field class="filtro">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>

    <button matTooltip="Inscribir Alumno" class="btn-crear2" mat-fab color="primary" (click)="inscribirAlumnoFinal()">
      <mat-icon>queue</mat-icon>
    </button>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="alumno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </th>
        <td mat-cell *matCellDef="let element"> {{ element.apellido }}, {{ element.nombre }} </td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
        <td mat-cell *matCellDef="let element"> {{ element.dni }} </td>
      </ng-container>

      <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota </th>
        <td mat-cell *matCellDef="let element"> {{ element.nota }} </td>
      </ng-container>

      <ng-container matColumnDef="libro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Libro </th>
        <td mat-cell *matCellDef="let element"> {{ element.libro }} </td>
      </ng-container>

      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
        <td mat-cell *matCellDef="let element"> {{ element.folio }} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td class="nowrap" mat-cell *matCellDef="let element">
          <button class="mx-1" mat-mini-fab color="primary" matTooltip="Cargar Notas" (click)="cargarNotas(element)">
            <mat-icon>add</mat-icon>
          </button>
          <button *ngIf="element.nota" class="mx-1" mat-mini-fab color="warn" matTooltip="Eliminar Notas"
            (click)="eliminarNotas(element.id_inscripcion_mesa)">
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
  </div>
</ng-container>