mat-list-item:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.materia-seleccionada {
    background: #3f51b5;
    color: white;
}

.correlativa-seleccionada {
    background: #ff3f81;
    color: white;
}