<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>


<h2 mat-dialog-title>Crear Materia de {{ carrera }}</h2>

<!-- <mat-dialog-content> -->
  <form id="form" [formGroup]="formulario" (ngSubmit)="enviar()" #myNgForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Nombre de la materia" formControlName="nombre" #nombre>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Año</mat-label>
      <mat-select formControlName="anio" (selectionChange)="cambioAnio()">
        <mat-option *ngFor="let anio of anios" [value]="anio">
          {{anio}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de materia</mat-label>
      <mat-select formControlName="tipoMateria">
        <mat-option *ngFor="let tipoMateria of tiposMaterias" [value]="tipoMateria.id">
          {{tipoMateria.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="number" min="1" matInput placeholder="Horas Totales" formControlName="horas">
    </mat-form-field>

    <ng-select [items]="materiasFiltradas" [groupBy]="'anio'" [placeholder]="'Correlativas'" [notFoundText]="'No hay materias de años anteriores'" [multiple]="true" [loading]="cargadoMaterias"
      bindLabel="nombre" bindValue="id" formControlName="correlativas">
    </ng-select>

  </form>
<!-- </mat-dialog-content> -->

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-raised-button color="primary" type="submit" form="form"
  [disabled]="!formulario.valid || showSpinner">Guardar</button>
<button mat-raised-button (click)="cerrar()">Volver </button>
</mat-dialog-actions>
