<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<div class="container mt-2">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Crear Materia de {{ carrera }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form id="form" [formGroup]="formulario" (ngSubmit)="enviar()">
        <mat-form-field>
          <input matInput placeholder="Nombre de la materia" formControlName="nombre">
        </mat-form-field>
    
        <mat-form-field>
          <input type="number" min="1" max="5" matInput placeholder="Año" formControlName="anio">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Tipo de materia</mat-label>
          <mat-select formControlName="tipoMateria">
            <mat-option *ngFor="let tipoMateria of tiposMaterias" [value]="tipoMateria.id">
              {{tipoMateria.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Correlativas</mat-label>
          <mat-select formControlName="correlativas" multiple>
            <ng-container *ngFor="let materia of materias">
              <mat-option *ngIf="formulario.value.anio > materia.anio" [value]="materia.id">
                {{materia.nombre}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" form="form" [disabled]="!formulario.valid || showSpinner">Crear</button>
      <button mat-raised-button routerLink="/carreras">Volver </button>
    </mat-card-actions>
  </mat-card>

</div>
