/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #cfcfcf;
}

.confirm-dialog .mat-dialog-container {
  padding: 0;
  width: 500px;
  max-width: 95vw;
}

// Helpers

.m-0 {
  margin: 0 !important;
}

.mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}

.mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.mx-3 {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

.mt-2 {
  margin-top: 0.5em !important;
}

.mb-2 {
  margin-bottom: 0.5em !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25em !important;
}

.p-2 {
  padding: 0.5em !important;
}

.p-3 {
  padding: 1em !important;
}

.p-4 {
  padding: 1.5em !important;
}

//

.table-container {
  background: white;
  margin-top: 40px;
}

.btn-crear {
  position: absolute !important;
  z-index: 1000;
  right: 20px;
  top: 83px;
}

table {
  width: 100%;
}

.filtro {
  margin-top: 1em;
  margin-left: 1em;
  width: calc(100% - 2em);
}
