/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";


body {
  // background-color: #cfcfcf;
  background-color: #f4f6f9;
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.confirm-dialog .mat-dialog-container {
  padding: 0;
  width: 500px;
  max-width: 95vw;
}

.nowrap {
  white-space: nowrap;
}

// Helpers

.m-0 {
  margin: 0 !important;
}

.mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}

.mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.mx-3 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-2 {
  margin-top: 0.5em !important;
}

.mt-3 {
  margin-top: 1em !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 0.5em !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25em !important;
}

.p-2 {
  padding: 0.5em !important;
}

.p-3 {
  padding: 1em !important;
}

.p-4 {
  padding: 1.5em !important;
}

//

.table-container {
  background: white;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-crear {
  position: absolute !important;
  z-index: 1000;
  right: 20px;
  top: 83px;
}

table {
  width: 100%;
}

.filtro {
  margin-top: 1em;
  margin-left: 1em;
  width: calc(100% - 2em);
}
