<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>

<h2 mat-dialog-title>Realizar Inscripción a {{ materia }}</h2>

<!-- <mat-dialog-content> -->
  <form id="form" [formGroup]="formulario" (ngSubmit)="enviar()">

    <mat-radio-group formControlName="cursa">
      <mat-radio-button [value]="cursa">Cursa</mat-radio-button>
      <mat-radio-button [value]="libre">Libre</mat-radio-button>
    </mat-radio-group>

    <mat-checkbox formControlName="equivalencia">
      Solicita Equivalencia
    </mat-checkbox>

  </form>
<!-- </mat-dialog-content> -->

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-raised-button color="primary" type="submit" form="form"
    [disabled]="!formulario.valid || showSpinner">Crear</button>
  <button mat-raised-button (click)="cerrar()">Volver </button>
</mat-dialog-actions>