.container {
  margin: 10px 20px;
}

.table-container {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 0.5px solid black;
  padding: 5px;
}

td {
  height: 20px;
}

th * {
  margin: 0;
}

.indice {
  width: 20px;
  text-align: center;
}

.carrera {
  width: 100px;
  text-align: center;
}

.texto-carrera {
  font-size: 9px;
  width: 100px;
  height: 20px;
  overflow: hidden;
}

.profesor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modulos {
  width: 30px;
  text-align: center;
}

.firma {
  width: 100px;
}

.hora {
  width: 70px;
}
